.title {
    background-color: var(--red);
    border-top: 0.6rem solid var(--gold);
    padding: 0.4rem;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -ms-border-radius: 0px 0px 20px 0px;
    -o-border-radius: 0px 0px 20px 0px;
}

.description {
    background-color: var(--blue);
    border-top: 0.8rem solid var(--gold);
    padding: 0.4rem;
    color: #fff;
    text-align: left;
    border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -ms-border-radius: 0px 0px 20px 0px;
    -o-border-radius: 0px 0px 20px 0px;
}

.avisos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4rem;
    background-color: var(--dark);

}

/* tablet portrait up */
@media (min-width: 768px) {
    .avisos {
        flex-direction: row;
    }
}

/* end tablet up */

.avisos div {
    color: white;
    padding: 2rem;
}

.oferta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-oferta {
    margin-left: 1rem;
    background: var(--blue);
    color: whitesmoke;
    font-size: 1.4rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btn-oferta:hover {
    color: var(--gold);

}