/*###################################################*/
/*...................................................*/
/* banners */
/*...................................................*/
/*###################################################*/

.grid-banner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: auto;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--blue);
}

.icono-banner {

    font-size: 4rem;
}

.icono-banner>div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    width: 8rem;
    height: 8rem;
    background-color: var(--gold);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.texto-banner {
    color: #ffffff;
}


/*###################################################*/
/*...................................................*/
/* end banners */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* tarjetas sitios de interés */
/*...................................................*/
/*###################################################*/
.borde-tarjeta {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    border: 2px solid var(--blue);
    min-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.superior {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: auto;
    gap: 4px;
    margin-bottom: 1rem;

}

.superior>h5 {
    text-align: right;

}

.circulo-icono {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
    color: #fff;
    font-size: 2rem;
    width: 4.5rem !important;
    height: 4.5rem !important;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.inferior {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sitios {
    color: #fff;
    background-color: var(--red);
}

.btn-sitios:hover {
    color: #fff;
    border-color: #fff;
}

/*-------------------------------*/
/* modals */
/*-------------------------------*/

.status {
    background-color: var(--blue);
    color: #fff;
    font-size: 0.8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0.3rem;
}


/*-------------------------------*/
/* end modals */
/*-------------------------------*/


/*###################################################*/
/*...................................................*/
/* end tarjetas sitios de interés */
/*...................................................*/
/*###################################################*/

/*###################################################*/
/*...................................................*/
/* tarjetas manuales */
/*...................................................*/
/*###################################################*/
.borde-tarjeta-manuales {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding: 0.6rem;
    border: 2px solid var(--blue);
    min-height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.titulo {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.botones {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    min-height: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.btn-info-manual {
    background-color: var(--gold);
    color: white;
}

.btn-info-manual:hover {
    color: white;
    border: 1px solid white;
}

.enlace-manual {
    background-color: var(--red);
    color: #fff;
    padding: 0.7rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.enlace-manual:hover {
    color: white;
    background-color: var(--blue);
    text-decoration: none;
}

/*###################################################*/
/*...................................................*/
/* end tarjetas manuales */
/*...................................................*/
/*###################################################*/